
/**search bar nav*/
.search-form {
  width: 230%;
}

.search-full-width {
  width: 100%;
  margin-top: 25px;
}

.search-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .search-option-img {
  margin-right: 0;
  margin-left: 8px;
}
