<form class="search-form">
  <mat-form-field class="search-full-width">
    <i class="fa fa-search" style="float:right"></i>

    <input matInput placeholder="Search" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (click)="search()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async; index as i" [value]="state.name">
        <img class="search-option-img" aria-hidden [src]="state.flag" height="25">
        <span>{{i}} -- {{state.name}}</span> |
        <small>Population: {{state.population}}</small>
      </mat-option>
      <mat-paginator #paginator [length]="length"
                     [pageSize]="pageSize"
                     (page)="pageEvent = handlePage($event)">
      </mat-paginator>
    </mat-autocomplete>
  </mat-form-field>
</form>
