<!-- <app-main-nav></app-main-nav> -->
  <mat-toolbar class="sidenav-container" color="primary">
    <a href="">WORLD TRAVEL</a>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <app-elasticsearch></app-elasticsearch>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span class="spacer"></span>
    <span *ngIf="firstName !== null" style="color:#cfcfcf"> Welcome {{firstName}} !</span>
    <span class="spacer2"></span>
    <app-notification *ngIf="firstName !== null"></app-notification>
    <span class="spacer2"></span>
    <span class="spacer2"></span>
    <a href="login" *ngIf="firstName === null" (click)="login()">Login/Register</a>
    <a href="login" *ngIf="firstName !== null" (click)="logout()">Logout</a>
    <span class="spacer"></span>
  </mat-toolbar>
<router-outlet></router-outlet>
