<!-- <app-main-nav></app-main-nav> -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <mat-toolbar color="primary">       
        <a href="">WORLD TRAVEL</a>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span *ngIf="firstName !== null" style="color:#cfcfcf"> Welcome {{firstName}} !</span>
        <span class="spacer2"></span>
        <a href="login" *ngIf="firstName === null">Login/Register</a>
        <a href="login" *ngIf="firstName !== null" (click)="logout()">Logout</a>
        <span class="spacer"></span>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
<router-outlet></router-outlet> 
