<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <br />
  <br />
  <h2>Login</h2>
  <br />
  <form id="loginForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Type your email" required
        [(ngModel)]="model.Email" name="email" #email="ngModel" />
    </div>
    <br />
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Type your password" required
        [(ngModel)]="model.Password" name="password" #password="ngModel" />
    </div>
    <br />
    <br />
    <div class="form-group" style="text-align: center">
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid">Login</button>
      <a href="register" class="btn btn-link" >Register</a>
    </div>
  </form>
</div>

