<span class="dropdown">
  <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="dropdown()"><i class="fa fa-bell" style="color:red">{{notify}}</i></a>
  <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#"> Start address: {{tripForm.Start_address}}</a>
    <!--<a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>-->
  </span>
</span>
