@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');

.container{
    border: 3px double gray;
    width: 40%;
    height: 550px;
    background-color: #E2EEF0
   }

   .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  }
  label{
    float: left;
    text-align: left;
}