<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8 jumbotron">
      <h3>Register</h3><hr>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <label for="FirstName">First name:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" placeholder="First name" formControlName="FirstName" maxlength="30" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['FirstName'].dirty && form.controls['FirstName'].invalid">
            <div *ngIf="form.controls['FirstName'].hasError('required')">First name is required</div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="LastName">Last name:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" placeholder="Last name" formControlName="LastName" maxlength="30" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['LastName'].dirty && form.controls['LastName'].invalid">
            <div *ngIf="form.controls['LastName'].hasError('required')">Last name is required</div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="Address">Address:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" placeholder="Address" formControlName="Address" maxlength="50" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['Address'].dirty && form.controls['Address'].invalid">
            <div *ngIf="form.controls['Address'].hasError('required')">Address is required</div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="Email">Email:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" placeholder="Username/Email" formControlName="Email" maxlength="30" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['Email'].dirty && form.controls['Email'].invalid">
            <div *ngIf="form.controls['Email'].hasError('required')">Username is required</div>
          </div>
        </div>
        <br />
        <div class="form-group">
          <label for="pwd">Password:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-lock"></div>
            <input type="Password" placeholder="Password" formControlName="Password" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['Password'].dirty && form.controls['Password'].invalid">
            <div *ngIf="form.controls['Password'].hasError('required')">Password is required</div>
            <div *ngIf="form.controls['Password'].hasError('minlength')">Password must minlength 6 characters long.</div>
          </div>
        </div>
        <br />
        <div class="form-group" style="text-align: center">
          <button class="btn btn-primary" [disabled]="form.invalid">Register</button>
          <a href="login" class="btn btn-link">Cancel</a>
        </div>

        <div class="form-group">
          <div class="col-md-12 alert alert-danger" *ngIf="errmsg">{{errmsg}}</div>
        </div>

        <div class="form-group">
          <div class="col-md-12 alert alert-success" *ngIf="successmsg">{{successmsg}}</div>
        </div>

      </form>
    </div>
  </div>
</div>

