<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
  <br />
  <br />
  <h2>Register</h2>
  <br />
  <br />
  <form id="registerForm" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Type your first name" required
            [(ngModel)]="model.FirstName" name="fistName" #firstName="ngModel" />
        </div>
    <br />
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" placeholder="Type your last name" required
          [(ngModel)]="model.LastName" name="lastName" #lastName="ngModel" />
      </div>
      <br />
      <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Type your address" required
            [(ngModel)]="model.Address" name="address" #address="ngModel" />
        </div>
    <br />
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Type your email" required
          [(ngModel)]="model.Email" name="email" #email="ngModel" />
      </div>
    <br />
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Type your password" required
          [(ngModel)]="model.Password" name="password" #password="ngModel" />
      </div>
    <br />
    <div class="form-group" style="text-align: center">
      <button class="btn btn-primary" [disabled]="!registerForm.form.valid">Register</button>
        <a href="login" class="btn btn-link">Cancel</a>
    </div>
  </form>

</div>
